<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
    <th:block th:fragment="menu_css">
        <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
        <link href="/css/menu.css" rel="stylesheet" type="text/css" media="all"/>
        <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
        <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
        <script type="text/javascript" th:src="@{/js/csrfSetting.js}"></script>
        <script type="text/javascript" th:src="@{/js/alertify.min.js}"></script>
        <link rel="stylesheet" href="/css/alertify.core.css" />
        <link rel="stylesheet" href="/css/alertify.default.css" />
    </th:block>
    <link>
</head>
<body>
<nav class="nav" th:fragment="menu_nav">
    <ul>
        <li><a href="#">Menu</a>
            <ul>
                <li><a href="/calendar">캘린더</a></li>
                <li><a href="/week_report">주차보고서</a></li>
                <li><a href="/home_info">방 상태</a></li>
                <li><a href="/setting">설정</a></li>
            </ul>
        </li>
    </ul>
</nav>

</body>
</html>