<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <title>할 일!</title>
    <th:block th:insert="~{fragment/menu::menu_css}"/>

    <link rel="stylesheet" type="text/css" href="/css/fullcalendar.css"/>
    <link rel="stylesheet" type="text/css" href="/css/fullcalendar.min.css"/>
    <script src='js/moment.min.js'></script>
    <script type="text/javascript" src="/js/fullcalendar.min.js"></script>
</head>
<body>
<nav th:replace="~{fragment/menu::menu_nav}"></nav>
<div id="calender" style="width: 550px"></div>
<form>
    <p>
        <input id="date" type="text" placeholder="yyyy-mm-dd"/>
        <input id="hour" type="text" placeholder="시간"/>
        <input id="task" type="text" placeholder="할일"/>
        <input type="button" id="save" value="등록"/>
    </p>
</form>

<div id="Content">
    <table>
        <caption>할일 목록</caption>
        <thead>
        <tr>
            <th>날짜</th>
            <th>시간</th>
            <th>할 일</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody id="toDoList">
        <tr th:each="toDo:${toDoList}">
            <td th:hidden="true" th:text="${toDo.getId()}"></td>
            <td th:text="${toDo.getDate()}"></td>
            <td th:text="${toDo.getHour()}"></td>
            <td th:text="${toDo.getTask()}"></td>
            <td>수정</td>
            <td><a href="#" class="remove" th:data="${toDo.getId()}">삭제</a></td>
        </tr>
        </tbody>
    </table>

</div>
<script type="text/javascript">

    var host = '/calendar/api';

    function save() {
        var toDo = {
            date: $('#date').val(),
            hour: $('#hour').val(),
            task: $('#task').val()
        };

        requestData('POST', toDo);
        return false;
    }

    function requestData(method, data) {
        $.ajax({
            async: false,
            url: host,
            method: method,
            contentType: "application/json",
            data: JSON.stringify(data)
        });
        window.location.reload();
    }

    $(document).ready(function () {

        $('#save').on("click", save);
        $.get(host + "/list", function (toDoList) {
            var calendarToDoList = [];
            $.each(toDoList, function (index, value) {
                calendarToDoList.push({
                    id: value.id,
                    title: value.task,
                    start: value.date,
                    end: value.date
                });
            });
             $('#calender').fullCalendar({
                 events: function (start, end, timezone, callback) {
                     callback(calendarToDoList);
                 }
             });
            $(".modify").on("click", function (e) {
                var id = $(e.currentTarget).attr("data");
                window.location.href = "edit?id=" + id;
            });
            $(".remove").on("click", function (e) {
                var target = e.currentTarget;
                var id = $(target).attr("data");
                $.ajax({
                    url: host + '/' + id,
                    method: 'DELETE',
                    success: function (result) {
                        window.location.reload();
                    }
                });
            });
        });
    });
</script>

</body>
</html>