<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <title>방 상태</title>
    <th:block th:insert="~{fragment/menu::menu_css}"/>
    <link rel="stylesheet" type="text/css" href="/css/billboard.min.css"/>
    <script src='js/d3/d3.min.js'></script>
    <script src='js/billboard.min.js'></script>
</head>
<body>
<nav th:replace="~{fragment/menu::menu_nav}"></nav>
<select id="list">
    <option value='' selected>- 선택 -</option>
</select>
<div id="chart"></div>

<a href="register_equipment"><input type="button" value="기기 등록"/></a>
<script>
    var host = '/home_info';
    var selectList = $("#list");

    function inflate() {
        $.get(host + "/equipment_list", function (equipment) {
            selectList.empty();
            $.each(equipment, function (index, value) {
                selectList.append('<option value=' + value.id + '> ' + value.name + '</option>');
            });
            getInfo();
        });
    }

    function getInfo() {
        var id = selectList.val();
        console.log(id)
        $.get(host + "/info_list?equipment_id="+id, function (info) {
            var timestamp = ["x"];
            var temperature = ["temperature"];
            var humidity = ["humidity"];

            $.each(info, function (index, value) {
                var date = new Date(value.timestamp);
                date.setUTCHours(date.getUTCHours()+9);
                var dateStr = date.toISOString().slice().slice(0,19);
                timestamp.push(dateStr);
                temperature.push(value.temperature);
                humidity.push(value.humidity);
            });

            var chart = bb.generate({
                data: {
                    x: "x",
                    xFormat:  "%Y-%m-%dT%H:%M:%S",
                    columns: [
                        timestamp,
                        temperature,
                        humidity
                    ]
                },
                axis: {
                    x: {
                        type: "timeseries",
                        tick: {
                            format: "%Y-%m-%d/%H:%M:%S"
                        }
                    }
                },
                bindto: "#chart"
            });


        });
    }

    $(document).ready(function () {
        inflate();
    });
</script>
</body>
</html>